.theme-dark-green .header-navbar-menu .navbar-nav .nav-item .nav-link:hover, 
.theme-dark-green .header-navbar-menu .navbar-nav .nav-item .nav-link.active{
	color: #56c98f !important;
}
.theme-dark-green .page-up-box {
	color: #339966 !important;
}
.theme-dark-green .section-heading h5,
.theme-dark-green .best-wallet-area .best-wallet-content h4,
.theme-dark-green .counter-box .counter-title h2,
.theme-dark-green .notify-box .theme-input-box label,
.theme-dark-green .maintainence-area .maintainence-inner-box .maintainence-box-content h1, 
.theme-dark-green .error-area .error-inner-box .error-box-content h1,
.theme-dark-green .faq-box-main .faq-box .theme-title > i,
.theme-dark-green .theme-input-box label,
.theme-dark-green .user-login-box .login-box-des > a {
	color: #339966;
}
.theme-dark-green .theme-btn,
.theme-dark-green .switch-button,
.theme-dark-green .counter-box .counter-title::before,
.theme-dark-green .login-title::before,
.theme-dark-green .header-navbar-menu .navbar .navbar-toggler {
	background-color: #339966;
}
.theme-dark-green .switched-mode > ul > li > a.active {
	background-color: #339966 !important;
}
/* light mode icon */
.theme-dark-green .trending-ico .theme-icons{
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-create-wallet.svg);
}
.theme-dark-green .trending-ico .theme-icons.get-bitcoin-icon {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-get-bitcoins.svg);
}
.theme-dark-green .trending-ico .theme-icons.use-wallet-icon {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-get-wallet.svg);
}
.theme-dark-green .trending-ico .theme-icons.digital-money {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-digital-money.svg);
}
.theme-dark-green .trending-ico .theme-icons.bitcoin-wallet {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-bitcoin-wallet.svg);
}
.theme-dark-green .trending-ico .theme-icons.crypto-currency {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-crypto-currency.svg);
}
.theme-dark-green .trending-ico .theme-icons.secure-transactions {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-secure-transactions.svg);
}
.theme-dark-green .trending-ico .theme-icons.bitcoin-mining {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-bitcoin-mining.svg);
}
.theme-dark-green .trending-ico .theme-icons.mining-technology {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-mining-technology.svg);
}
/* light mode icon */
/* dark mode icon */
.theme-dark-green.dark-mode .trending-ico .theme-icons{
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-create-wallet.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.get-bitcoin-icon {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-get-bitcoins.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.use-wallet-icon {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-get-wallet.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.digital-money {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-digital-money.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.bitcoin-wallet {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-bitcoin-wallet.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.crypto-currency {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-crypto-currency.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.secure-transactions {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-secure-transactions.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.bitcoin-mining {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-bitcoin-mining.svg);
}
.theme-dark-green.dark-mode .trending-ico .theme-icons.mining-technology {
    background-image: url(../../../images/icon/theme-dark-green/theme-dark-green-dark-mining-technology.svg);
}
/* dark mode icon */