@media screen and (max-width: 767px){
    .theme-alive .header-box,
    .theme-alive .color-switcher .toggle-button{
        background: #CB356B;
        background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
        background: linear-gradient(to right, #BD3F32, #CB356B);
    }
}
.theme-alive .wallet-top-header,
.theme-alive .transfer-coin-btn a.active, 
.theme-alive .transfer-coin-btn a:hover,
.theme-alive .theme-btn,
.theme-alive .edit-images .edit-label,
.theme-alive .notification-dropdown .notification-footer a,
.theme-alive .wallet-transaction-box .wallet-transaction-ico,
.theme-alive .pagination-box > ul > li.current,
.theme-alive .theme-popup .modal-content .modal-body .close {
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B);
}
.theme-alive .theme-btn{
    border-color: #CB356B;
}
.theme-alive .header-logo {
    background-color: #a93127;
}
.theme-alive .header-nav-menu ul li.active > a, 
.theme-alive .header-nav-menu ul li a:hover,
.theme-alive .wallet-balance-box .wallet-balance-amount h3,
.theme-alive .wallet-transaction-balance h3,
.theme-alive .wallet-top-header-box.user-top-detail ul li a,
.theme-alive .wallet-language-box .dropdown-menu li > a,
.theme-alive .wallet-transaction-balance h3, 
.theme-alive .wallet-transaction-box .wallet-trx-id .trx-id > span > span,
.theme-alive .pagination-box > ul > li > a:hover,
.theme-alive .transfer-coin-btn a,
.theme-alive .theme-popup .modal-content .wallet-balance-box span > span{
    color: #CB356B;
}
.theme-alive .wallet-balance-area .wallet-balance-box h3{
    color: #222;
}
.theme-alive .header-nav-menu ul li.active{
    border-left-color: #CB356B;
}
.theme-alive .apexcharts-series path {
    fill: #CB356B;
    fill: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    fill: linear-gradient(to right, #BD3F32, #CB356B);
}
.theme-alive .apexcharts-series path{
    stroke: #CB356B !important;
}
.theme-alive .remove-popuo-btn .remove-btn{
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B);
    border: 1px solid #CB356B;
}
.theme-alive .highcharts-background {
    fill: rgb(200 56 95 / 8%);
}
.theme-alive .highcharts-series > path:first-child {
    stroke: #CB356B;
}
.theme-alive .highcharts-title {
    color: #CB356B !important;
    fill: #CB356B !important;
}
.theme-alive .dashboard-chart-range > a.active, 
.theme-alive .dashboard-chart-range > a:hover {
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    background: linear-gradient(to right, #BD3F32, #CB356B);
    color: #fff;
}
.theme-alive .wallet-chart #loading {
    color: #CB356B;
}

.wallet-transaction-box .wallet-transaction-ico.wallet-Withdrawal {
    background: #87d682;
    background: -webkit-linear-gradient(to right, #87d682, #73c06e);
    background: linear-gradient(to right, #87d682, #73c06e);
}
.wallet-transaction-box .wallet-transaction-ico.wallet-sync {
    background: #7ad9e3;
    background: -webkit-linear-gradient(to right, #7ad9e3, #5ad2df);
    background: linear-gradient(to right, #7ad9e3, #5ad2df);
}

/* dark mode css */
.dark-mode.theme-alive .header-nav-menu ul li.active{
    border-color: #CB356B !important;
}
.dark-mode.theme-alive .header-nav-menu ul li.active > a, 
.dark-mode.theme-alive .header-nav-menu ul li a:hover {
    color: #CB356B !important;
}
.dark-mode.theme-alive .wallet-top-header-left .wallet-top-header-box h3,
.dark-mode.theme-alive .wallet-top-header-box .header-wallet-ico {
    color: #CB356B !important;   
}
.dark-mode.theme-alive .header-nav-menu ul li.active {
    border-color: #CB356B;   
}
.dark-mode.theme-alive .pagination-box > ul > li > a:hover,
.dark-mode.theme-alive .wallet-transaction-balance h3, 
.dark-mode.theme-alive .wallet-balance-box .wallet-balance-amount h3 {
    color: #CB356B !important;
}
.dark-mode.theme-alive .wallet-top-header-right .notification-box-area .notification-box .notification-active {
    background: #CB356B;
}
/* dark mode css */